In [22]:
#import relevant libraries
import pandas as pd

In [41]:
#get data and set district as index
df = pd.read_csv('chicago_crime_rate.csv', index_col=10)

In [45]:
#view data
df.tail()

,Crime_Type,2021,2020,2019,2018,2017,Chg_Yr21_Yr20,Chg_Yr21_Yr19,Chg_Yr21_Yr18,Chg_Yr21_Yr17,district_name
district,,,,,,,,,,,
25,AGG BATTERY,88,144,142,137,179,-39%,-38%,-36%,-51%,Grand Central
25,BURGLARY,157,208,271,341,514,-25%,-42%,-54%,-69%,Grand Central
25,THEFT,276,215,242,233,302,28%,14%,18%,-9%,Grand Central
25,MTR VEHICLE THEFT,258,288,316,329,515,-10%,-18%,-22%,-50%,Grand Central
25,TOTAL,1005,1108,1232,1384,1886,-9%,-18%,-27%,-47%,Grand Central

In [43]:
#rename columns with relevant names
df.rename(columns={'Yr21': '2021', 'Yr20': '2020', 'Yr19': '2019', 'Yr18': '2018', 'Yr17': '2017'}, inplace=True)

In [44]:
#verify changes 
df.dtypes

Crime_Type       object
2021              int64
2020              int64
2019              int64
2018              int64
2017              int64
Chg_Yr21_Yr20    object
Chg_Yr21_Yr19    object
Chg_Yr21_Yr18    object
Chg_Yr21_Yr17    object
district_name    object
dtype: object

In [65]:
df.to_csv('clean_chicago_crime_rate.csv',index = False)

In [66]:
df = pd.read_csv('clean_chicago_crime_rate.csv')

In [67]:
df.head()

,district,Crime_Type,2021,2020,2019,2018,2017,Chg_Yr21_Yr20,Chg_Yr21_Yr19,Chg_Yr21_Yr18,Chg_Yr21_Yr17,district_name
0,1,MURDER,3,4,2,2,3,-25%,50%,50%,0%,Central
1,1,CRIM SEXUAL ASSLT,38,27,27,35,27,41%,41%,9%,41%,Central
2,1,ROBBERY,131,148,148,245,282,-11%,-11%,-47%,-54%,Central
3,1,AGG BATTERY,92,101,116,117,96,-9%,-21%,-21%,-4%,Central
4,1,BURGLARY,48,188,78,90,102,-74%,-38%,-47%,-53%,Central